body {
 background-color: #000;
 background-image: url(http://i.amz.mshcdn.com/wwWKefaZFIkWc4lxtfo7GW4c8u0=/fit-in/1200x9600/http%3A%2F%2Fi.imgur.com%2F1J35je5.gif);
 background-repeat: no-repeat;
 background-size: cover;
}